apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: devops-practical
spec:
  template:
    spec:
      containers:
        - name: app
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
