---
- name: Check if cluster is already initialized
  stat:
    path: /etc/kubernetes/admin.conf
  register: kubeadm_init

- name: Initialize Kubernetes cluster
  command: >
    kubeadm init
    --apiserver-advertise-address={{ ansible_default_ipv4.address }}
    --pod-network-cidr=10.244.0.0/16
  when: not kubeadm_init.stat.exists

- name: Create .kube directory for ubuntu user
  file:
    path: /home/ubuntu/.kube
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: "0755"

- name: Copy admin.conf to ubuntu user
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/ubuntu/.kube/config
    remote_src: true
    owner: ubuntu
    group: ubuntu
    mode: "0644"

- name: Install Flannel CNI
  become: false
  command: kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml
  when: not kubeadm_init.stat.exists

- name: Generate join command
  command: kubeadm token create --print-join-command
  register: join_command
  changed_when: false

- name: Store join command
  set_fact:
    kubeadm_join_command: "{{ join_command.stdout }}"

- name: Save join command to local file
  become: false
  local_action:
    module: copy
    content: "{{ join_command.stdout }}"
    dest: "{{ playbook_dir }}/join-command.sh"
    mode: "0755"
